@import '//fonts.googleapis.com/css?family=Rubik:400,400i,700,700i';
body {
  background-image: url("../img/background.jpg");
  background-position: center;
  font-family: "Rubik", sans-serif;
  display: flex;
  justify-content: flex-end;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.glitch {
  margin: 1rem 1rem;
  align-self: flex-end;
  color: white;
  font-size: 6em;
  letter-spacing: 0.15em;
  animation: glitch-skew 1s infinite linear alternate-reverse;
}
.glitch::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  left: 2px;
  text-shadow: -2px 0 #ff00c1;
  clip: rect(44px, 450px, 56px, 0);
  animation: glitch-anim 5s infinite linear alternate-reverse;
}
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  left: -2px;
  text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
  animation: glitch-anim2 1s infinite linear alternate-reverse;
}

@keyframes glitch-anim {
  0% {
    clip: rect(66px, 9999px, 94px, 0);
    transform: skew(0.47deg);
  }
  5% {
    clip: rect(76px, 9999px, 43px, 0);
    transform: skew(0.18deg);
  }
  10% {
    clip: rect(96px, 9999px, 43px, 0);
    transform: skew(0.36deg);
  }
  15% {
    clip: rect(18px, 9999px, 88px, 0);
    transform: skew(0.28deg);
  }
  20% {
    clip: rect(15px, 9999px, 55px, 0);
    transform: skew(0.88deg);
  }
  25% {
    clip: rect(1px, 9999px, 12px, 0);
    transform: skew(0.75deg);
  }
  30% {
    clip: rect(47px, 9999px, 90px, 0);
    transform: skew(0.54deg);
  }
  35% {
    clip: rect(7px, 9999px, 36px, 0);
    transform: skew(0.11deg);
  }
  40% {
    clip: rect(75px, 9999px, 25px, 0);
    transform: skew(0.38deg);
  }
  45% {
    clip: rect(33px, 9999px, 94px, 0);
    transform: skew(0.69deg);
  }
  50% {
    clip: rect(88px, 9999px, 22px, 0);
    transform: skew(0.46deg);
  }
  55% {
    clip: rect(42px, 9999px, 10px, 0);
    transform: skew(0.75deg);
  }
  60% {
    clip: rect(11px, 9999px, 33px, 0);
    transform: skew(0.41deg);
  }
  65% {
    clip: rect(34px, 9999px, 12px, 0);
    transform: skew(0.38deg);
  }
  70% {
    clip: rect(42px, 9999px, 33px, 0);
    transform: skew(0.71deg);
  }
  75% {
    clip: rect(64px, 9999px, 62px, 0);
    transform: skew(0.68deg);
  }
  80% {
    clip: rect(11px, 9999px, 71px, 0);
    transform: skew(0.33deg);
  }
  85% {
    clip: rect(4px, 9999px, 95px, 0);
    transform: skew(0.6deg);
  }
  90% {
    clip: rect(59px, 9999px, 69px, 0);
    transform: skew(0.49deg);
  }
  95% {
    clip: rect(38px, 9999px, 80px, 0);
    transform: skew(0.57deg);
  }
  100% {
    clip: rect(81px, 9999px, 67px, 0);
    transform: skew(0.98deg);
  }
}
@keyframes glitch-anim2 {
  0% {
    clip: rect(46px, 9999px, 73px, 0);
    transform: skew(0.9deg);
  }
  5% {
    clip: rect(59px, 9999px, 45px, 0);
    transform: skew(0.21deg);
  }
  10% {
    clip: rect(86px, 9999px, 58px, 0);
    transform: skew(0.52deg);
  }
  15% {
    clip: rect(66px, 9999px, 67px, 0);
    transform: skew(0.3deg);
  }
  20% {
    clip: rect(95px, 9999px, 13px, 0);
    transform: skew(0.81deg);
  }
  25% {
    clip: rect(3px, 9999px, 59px, 0);
    transform: skew(0.41deg);
  }
  30% {
    clip: rect(90px, 9999px, 81px, 0);
    transform: skew(0.17deg);
  }
  35% {
    clip: rect(62px, 9999px, 88px, 0);
    transform: skew(0.33deg);
  }
  40% {
    clip: rect(52px, 9999px, 42px, 0);
    transform: skew(0.44deg);
  }
  45% {
    clip: rect(41px, 9999px, 44px, 0);
    transform: skew(0.83deg);
  }
  50% {
    clip: rect(29px, 9999px, 16px, 0);
    transform: skew(0.58deg);
  }
  55% {
    clip: rect(63px, 9999px, 16px, 0);
    transform: skew(0.52deg);
  }
  60% {
    clip: rect(75px, 9999px, 16px, 0);
    transform: skew(0.12deg);
  }
  65% {
    clip: rect(30px, 9999px, 98px, 0);
    transform: skew(0.02deg);
  }
  70% {
    clip: rect(3px, 9999px, 97px, 0);
    transform: skew(0.06deg);
  }
  75% {
    clip: rect(18px, 9999px, 18px, 0);
    transform: skew(0.72deg);
  }
  80% {
    clip: rect(28px, 9999px, 47px, 0);
    transform: skew(0.66deg);
  }
  85% {
    clip: rect(10px, 9999px, 20px, 0);
    transform: skew(0.2deg);
  }
  90% {
    clip: rect(25px, 9999px, 81px, 0);
    transform: skew(1deg);
  }
  95% {
    clip: rect(88px, 9999px, 59px, 0);
    transform: skew(0.06deg);
  }
  100% {
    clip: rect(48px, 9999px, 87px, 0);
    transform: skew(0.59deg);
  }
}
@keyframes glitch-skew {
  0% {
    transform: skew(-1deg);
  }
  10% {
    transform: skew(-1deg);
  }
  20% {
    transform: skew(1deg);
  }
  30% {
    transform: skew(-2deg);
  }
  40% {
    transform: skew(1deg);
  }
  50% {
    transform: skew(2deg);
  }
  60% {
    transform: skew(0deg);
  }
  70% {
    transform: skew(2deg);
  }
  80% {
    transform: skew(-2deg);
  }
  90% {
    transform: skew(-4deg);
  }
  100% {
    transform: skew(4deg);
  }
}

/*# sourceMappingURL=styles.css.map */
