@import '//fonts.googleapis.com/css?family=Rubik:400,400i,700,700i';

body {
  background-image: url("../img/background.jpg");
  background-position: center;
  font-family: "Rubik", sans-serif;
  display: flex;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

a {
  color: white;
  text-decoration: none;

  &:hover {
    color: #ff0072;
  }
}

.socials {
  align-self: flex-end;
  font-size: 3em;
  margin: 1rem;

  &__item {
    margin-right: 1rem;
  }
}

@mixin glitchCopy {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
}

.glitch {
  margin: 1rem;
  align-self: flex-end;
	color: white;
	font-size: 6em;
	animation: glitch-skew 1s infinite linear alternate-reverse;

	&::before {
		@include glitchCopy;
		left: 2px;
		text-shadow: -2px 0 #ff00c1;
		clip: rect(44px, 450px, 56px, 0);
		animation: glitch-anim 5s infinite linear alternate-reverse;
	}

	&::after {
		@include glitchCopy;
		left: -2px;
		text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
		animation: glitch-anim2 1s infinite linear alternate-reverse;
	}
}

@keyframes glitch-anim {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(100)+px, 9999px, random(100)+px, 0);
			transform: skew((random(100) / 100) + deg);
    }
  }
}

@keyframes glitch-anim2 {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(100)+px, 9999px, random(100)+px, 0);
			transform: skew((random(100) / 100) + deg);
    }
  }
}

@keyframes glitch-skew {
  $steps: 10;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      transform: skew((random(10) - 5) + deg);
    }
  }
}
